{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
<a class="navbar-brand" href="{% url 'home' %}">
  <img src="{% static 'images/icon/images.jpg' %}" alt="Icon"  width="50" height="50">
  <span style="color: white;">VideoHub</span>
</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 d-flex flex-row" method="GET" action="{% url 'video-search' %}">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Введите запрос" aria-label="Search" value="{{ request.GET.q }}" style="width:600px; margin-left:500px; border-radius: 40px; background-color: black; border: 2px solid #2d2c2e; font-weight: 600; color: white;">
         <button class="search-button" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search text-secondary" viewBox="0 0 16 16">
             <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
         </button>
      </form>
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
                <li class="nav-item">
                   <a class="nav-link" href="{% url 'video-create' %}" style="color: white;">Загрузить видео</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="{% url 'account_logout' %}" style="color: white;">Выйти</a>
                </li>
            {% if user.is_authenticated and user.profile %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' user.profile.pk %}">
                    {% if user.profile.image.url %}
                        <img src="{{ user.profile.image.url }}" width="35" height="35" class="d-inline-block rounded-circle" alt="Profile">
                    {% else %}
                    <img src="{% static 'images/default_profile_pic/default.jpg' %}" width="35" height="35" class="d-inline-block rounded-circle" alt="Profile">
                    {% endif %}
                    </a>
                </li>
            {% endif %}

        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}" style="color: white;">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}" style="color: white;">Вход</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>